pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DeleteAllBishopsFiles",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": "SELECT \n    c.DESCRIPTION,\n    c.ACTIVE,\n    c.SOFTDELETED,\n    c.SERVICE,\n    c.LOADEDDATETIMEUTC::VARCHAR AS LOADEDDATETIMEUTC, -- Remove timezone\n    c.ISPRIMARY,\n    c.CATEGORYID,\n    c.MODIFIEDDATETIMEUTC::VARCHAR AS MODIFIEDDATETIMEUTC, -- Remove timezone\n    c.DELETED,\n    c.ISSECONDARY,\n    c.BATCHKEY,\n    c.ENTERPRISELOCKED,\n    c.STUDIOID,\n    c.CATEGORYNAME,\n    c.SORTORDER,\n    c.CREATEDDATETIMEUTC::VARCHAR AS CREATEDDATETIMEUTC -- Remove timezone     \nFROM MINDBODY.HD2TOE_SECURE.CATEGORIES c\nLEFT JOIN MINDBODY.HD2TOE_SECURE.STUDIOS s\nON c.STUDIOID = s.STUDIOID\nWHERE s.STUDIONAME LIKE '%Bishops%' AND \n(\n    CAST(c.MODIFIEDDATETIMEUTC AS DATE) >= DATEADD(DAY, -180, CAST(GETDATE() AS DATE))\n    OR CAST(c.LOADEDDATETIMEUTC AS DATE) >= DATEADD(DAY, -1, CAST(GETDATE() AS DATE))\n)\n",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SnowflakeTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "testcategory",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "testcategory",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"CATEGORYID",
											"STUDIOID"
										]
									},
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "testcategory",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "DeleteAllBishopsFiles",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary1",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1Test",
							"type": "LinkedServiceReference"
						},
						"path": "dev/row"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "@concat('test*_', pipeline().parameters.batchdate, '.csv')\r\n",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"batchdate": {
				"type": "string",
				"defaultValue": "05142025"
			},
			"csvfilename": {
				"type": "string",
				"defaultValue": "testcategoryfile"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-05T13:19:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}